{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Сервис рассылок "Всегда в курсе"</h1>
        <p class="lead text-body-secondary">Сервис рассылок "Всегда в курсе" Ваш добрый помощник в работе.</p>
        <h2 class="fw-light">Раздел "Рассылки"</h2>
        <a class="btn btn btn-outline-primary mt-4" href="{% url 'main:newsletter_create' %}" role="button">Добавить Рассылку</a>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for newsletter in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">{{ newsletter }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'main:newsletter_detail' newsletter.pk %}" class="text-black">Подробнее</a></button>
                  {% if user == newsletter.author %}
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'main:newsletter_update' newsletter.pk %}" class="text-black">Редактирование</a></button>
                  {% endif %}

                  {% if user == newsletter.author %}
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'main:newsletter_delete' newsletter.pk %}" class="text-black">Удалить</a></button>
                  {% endif %}
                </div>
                <small class="text-body-secondary px-3">Автор: {{ newsletter.author }}</small>
              </div>
                  {% if user.is_authenticated %}
                  {% if perms.main.set_is_active %}
                  {% if newsletter.is_active %}
                  <a href="{% url 'main:toggle_activity' newsletter.pk %}" class="double-border-button">Деактивировать</a>
                  {% else%}
                  <a href="{% url 'main:toggle_activity' newsletter.pk %}" class="double-border-button">Активировать</a>
                  {% endif %}
                  {% endif %}
                  {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}